<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwilioEmulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TwilioEmulator.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>18080</value>
            </setting>
            <setting name="DefaultFromNumber" serializeAs="String">
                <value>1-234-567-8901</value>
            </setting>
            <setting name="DefaultIncomingPhoneNumber" serializeAs="String">
                <value>1-987-654-3210</value>
            </setting>
            <setting name="DefaultVoiceURL" serializeAs="String">
                <value>http://localhost:64741/calls/callstart</value>
            </setting>
            <setting name="StatusCallBackUrl" serializeAs="String">
                <value>http://localhost:64741/calls/callstatus</value>
            </setting>
            <setting name="AuthToken" serializeAs="String">
                <value>AuthToken</value>
            </setting>
        </TwilioEmulator.Properties.Settings>
    </applicationSettings>
</configuration>